<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Auctions Sell</title>
</head>
<body>
<h1>Select which card you want to sell.</h1>

<div th:each="card:${cards.keySet()}">

    <div class="auction">
        <div th:text="${cards.get(card)+'x'}"></div>

        <img class="image" th:src="${card.imageUrl}"/>

        <form th:action="${'/auctions/sell/' + card.id}" method="post" class="auction-form">
            <span>
                <label>Amount: </label>
                <input th:field="${request.amount}" min="1" th:max="${cards.get(card)}" class="number-input" type="number">
            </span>

            <span>
                <label>Price: </label>
                <input th:field="${request.price}" min="1" class="number-input" type="number">
            </span>

            <div>
                <input class="sell-button" type="submit" value="Sell">
            </div>

        </form>
    </div>

</div>

</body>
</html>