<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div  th:insert="~{layout/taskbar :: head}"></div>
</head>
<body>
<div class="container" th:insert="~{layout/taskbar :: header}"></div>
<div id = "content">
    <div id = "content-text">
Login.
<form action="/login" method="post">
    Email: <input type="email" name="username">
    <br>
    Password: <input type="password" name="password">
    <br>
    <input type="submit" value="Submit">
</form>
    </div>
</div>
</body>
</html>