<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <div  th:insert="~{layout/taskbar :: head}"></div>
</head>
<body>
<div class="container" th:insert="~{layout/taskbar :: header}"></div>
<div id = "content">
    <div id = "content-text">
Fill your registration data.
<form action="/register" method="post" th:object=${userRequest}>
    Email: <input type="email" name="email" th:field="${userRequest.email}">
    <br>
    Password: <input type="password" name="password" th:field="${userRequest.password}">
    <br>
    <input type="submit" value="Submit">
    <div>
        <a  href="/">

            <div  id = "normal-text"> Go back to the front page.</div>

        </a>
    </div>
</form>
    </div>
</div>
</body>
</html>