<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
Fill your registration data.
<form action="/register" method="post" th:object=${userRequest}>
    Email: <input type="email" name="email" th:field="${userRequest.email}">
    <br>
    Password: <input type="password" name="password" th:field="${userRequest.password}">
    <br>
    <input type="submit" value="Submit">
    <div>
        <a href="/">
            Go back to the front page.
        </a>
    </div>
</form>
</body>
</html>